#userDetails {
    background-color: blueviolet;
    max-width: 400px;
    max-height: 400px;
}

#celebDetails {
    background-color: brown;
    max-width: 400px;
    max-height: 400px;
}

.box {
    background-color: blueviolet;
    max-width: 400px;
    max-height: 400px;
}

.col-dropdowns {
    justify-content: center;
    margin-left: 30%;
}