:root {
    --black: #0A1931;
    --purple1: #3D2C8D;
    --purple2: #916BBF;
    --purple3: #C996CC;
    --blue: #344CB7;
    --blue2: #5C7AEA;
    --pink: #E6E6FA;
    --pink2: #F0D9FF;
  
    font-family: 'Playfair Display', serif;
 }

 
 #userDetails {
    background-color: var(--pink2);
    font-family: 'Playfair Display', serif;
    /* margin-top: 20px;
    width: 450px;  */
    /* padding: 60px; */
/*     max-width: 400px;
    max-height: 400px; */
}



#celebDetails {
    background-color: brown;
    /* max-width: 400px;
    max-height: 400px; */
}


.box {
    background-color: blueviolet;
    /* max-width: 400px;
    max-height: 400px; */
}


.middleCol {
    background-color: lightblue;
    /* width: 200px; */
}

.rightCol {
    background-color: lightcyan;
    /* width: 200px; */
}

.colDetails{
    font-family: 'Playfair Display', serif;    
}
/* .col {
    justify-content: center;
    margin-left: 30%; */
/* } */
/* .main-box {} */

.navbar {
    font-family: 'Playfair Display', serif;
    background-color: var(--purple3);

}

.navbar-brand {
    font-size: 40px;
    color: var(--blue2);

}

.nav-link {
    font-size: 30px;
    color: var(--blue);

}

body {
    background-color: var(--pink);
}

/* .col {
    background-color: var(--blue2);
} */

.container {
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}

.details {
    background-color: var(--pink2);
}

.ui-datepicker-year {
    display:none;
}

#submit-date {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    background-color: var(--purple1);
}

#submit-date:hover {
    background-color: var(--purple2);
}