:root {
    --black: #0A1931;
    --purple1: #3D2C8D;
    --purple2: #916BBF;
    --purple3: #C996CC;
    --blue: #344CB7;
    --blue2: #5C7AEA;
    --gray: #E6E6E6;
    --pink: #F0D9FF;
  
    font-family: 'Playfair Display', serif;
 }
 
 
#userDetails {
    background-color: blueviolet;
    max-width: 400px;
    max-height: 400px;
}

#celebDetails {
    background-color: brown;
    max-width: 400px;
    max-height: 400px;
}

.box {
    background-color: blueviolet;
    max-width: 400px;
    max-height: 400px;
}


 .col {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 

/* .main-box { */


.navbar {
    font-family: 'Playfair Display', serif;
    background-color: var(--purple3);

}

.nav-link {
    position: relative;
    right: 0px;
    
}